<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <table class="table table-bordered table-hover">
<caption class="text-center"><h3>my profile</h3></caption>
<tr>
  <th>my user id</th>
  <td>{{profiledata.id}}</td>
</tr>

<tr>
    <th>my name</th>
    <td>{{profiledata.name}}</td>
  </tr>

  <tr>
      <th>my mobile</th>
      <td>{{profiledata.mobile}}</td>
    </tr>

    <tr>
        <th>my email</th>
        <td>{{profiledata.email}}</td>
      </tr>

      <tr>
          <th>my password</th>
          <td>{{profiledata.password}}</td>
        </tr>

        

          <tr>
              <th>my city</th>
              <td>{{profiledata.city}}</td>
            </tr>

            <tr>
                <th>my pincode</th>
                <td>{{profiledata.pincode}}</td>
              </tr>
  </table>
</div>
</div>