<div class="row">
<div class="col-md-12">
<table class="table table-bordered">
<caption class="text-center"><h3>new employee</h3></caption>
<tr>
  <td>full name<input type="text" [(ngModel)]="name" class="form-control"></td>
  <td>email-id<input type="text" [(ngModel)]="email" class="form-control"></td>
  <td>mobile no<input type="text" [(ngModel)]="mobile" class="form-control"></td>
</tr>
<tr>
  <td colspan="2">
    address<textarea class="form-control" [(ngModel)]="address"></textarea>
  </td>
  <td class="text-center"><br>
    <button class="btn btn-danger" (click)="saveemp()">save employee</button>
  </td>
</tr>
</table>
<table class="table table-bordered table-hover">
    <caption class="text-center"><h3> employee list</h3></caption>
<tr class="success">
  <th>emp name</th>
  <th>email id</th>
  <th>mobile no</th>
  <th>address</th>
</tr>
<tr *ngFor="let row of allemp">
  <td>{{row.name}}</td>
  <td>{{row.email}}</td>
  <td>{{row.mobile}}</td>
  <td>{{row.address}}</td>

</tr>
</table>
</div>
</div>